  <div class="list-card">
    <img src= "<%=restaurant.logo_url %>" class="avatar-large" alt="restaurant">
    <div class="list-card-info">
      <div>
        <h5><strong><%= restaurant.name.capitalize %></strong></h5>
        <p class="list-card-rating"> <%= restaurant.rating.nil? ? "0.0" : "⭐️" *restaurant.rating%></i></p>
        <p><%= restaurant.city%><%= restaurant.postal_code %></p>
        <p><%= restaurant.cuisines %></p>
      </div>

    </div>
  </div>
