  <div class="list-card">
    <img src= "<%=restaurant.logo_url %>" class="avatar-large" alt="restaurant">
    <div class="list-card-info">
      <div>
        <h4><strong><%= restaurant.name.capitalize %></strong></h4>
        <p class="list-card-rating">
          <% if restaurant.rating.nil? %>
            <% 5.times do %>
              <i class="fa-regular fa-star" style="color: #fc704f;"></i>
            <% end %>
          <% else %>
            <% filled_stars = restaurant.rating.ceil %>
            <% empty_stars = 5 - filled_stars %>
            <% filled_stars.times do %>
              <i class="fa-solid fa-star" style="color: #fc7c04;"></i>
            <% end %>
            <% empty_stars.times do %>
              <i class="fa-regular fa-star" style="color: #fc7c04;"></i>
            <% end %>
          <% end %>
          <small><%= restaurant.rating_count%> reviews</small>
        </p>
        <br>
        <p><i class="fa-solid fa-location-dot" style="color: #fc7c04;"></i> <i><%= restaurant.address%></i></p>
        <br>
        <p><i class="fa-solid fa-utensils" style="color: #fc7c04;"></i> <%= restaurant.cuisines %></p>
      </div>

    </div>
  </div>
